{% extends 'main/base.html' %}
{% block title %}
Log in
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container py-5" style="text-align: center; margin-top: 10%">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
</div>
{% endblock %}

