{% extends 'main/base.html' %}
{% block title %}
Log in
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
 <div class="signup-form">
    <form method="post" style="text-align: center">{% csrf_token %}
		<h2>Sign Up</h2>
		{{ form|crispy }}
		<p>Please fill in this form to create an account!</p>
		<hr>
		<div class="form-group">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a></div>
</div>
{% endblock %}
